$sideWidth: 215px;
$avatarSize: 40px;

.wraper {
	display: inline-block;
	width: $sideWidth;
}

.side {
    margin-bottom: 10px;
    padding: 10px 0;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	background-color: #fff;
}

.user {
	display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding: 0 8px 10px 8px;
    border-bottom: 1px solid #eee;
}

.img {
	width: $avatarSize;
	height: $avatarSize;
	border-radius: 50%;
}

.name {
	display: inline-block;
	line-height: 40px;
	margin-left: 10px;
	color: #333;
    font-size: 13px;
}

.item {
	font-size: 13px;
	padding: 8px 10px;
    cursor: pointer;

    &:hover {
    	background: #f2f4f6;
    }
}

.link {
	display: block;
	padding: 0 8px;
}

.title {
	display: block;
    font-size: 16px;
    margin: 6px 6px 0 8px;
}