$iconColor: #e4e7ee;

.card {
	position: relative;
	display: inline-block;
	text-align: center;
}

.link {
	position: relative;
	display: block;
	line-height: 0;
	overflow: hidden;

	& i {
		position: absolute;
		right: 5px;
		bottom: 5px;
		line-height: 20px;
		font-size: 20px;
		color: $iconColor;

		&:hover {
			color: #ccc;
		}
	}
}

.img {
	width: 100%;
	height: auto;
}

.nameWraper {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	text-align: center;
}

.name {
	@extend .nameWraper;

	&by {
		vertical-align: top;
		margin-right: 5px;
		color: #464a4d;
	}

	&:hover {
		text-decoration: underline;
	}
}

.firstName {
	margin-top: 10px;
}

.rank {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0.6;
    margin: 0 5px;
	font-size: 40px;
    font-weight: bold;
    color: #c6c6c6;
}