$iconColor: #e4e7ee;

.card {
	position: relative;
	line-height: 0;
	text-align: center;
	overflow: hidden;
}

.link {
	float: left;
	position: relative;
	display: block;
	line-height: 0;
	overflow: hidden;

	& i {
		position: absolute;
		right: 5px;
		bottom: 5px;
		line-height: 20px;
		font-size: 20px;
		color: $iconColor;

		&:hover {
			color: #ccc;
		}
	}

	&:before {
		content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.nameWraper {
	display: block;
	line-height: 18px;
	font-size: 13px;
}

.name {
	@extend .nameWraper;

	&by {
		vertical-align: top;
		margin-right: 5px;
		color: #464a4d;
	}
}

.firstName {
	padding-top: 10px;
}

.firstName:hover, .nameAs:hover {
	text-decoration: underline;
}

.rank {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0.8;
    margin: 0 5px;
	font-size: 40px;
    font-weight: bold;
    color: #c6c6c6;
}