a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
}

body {
	font-family: Arial;
}

a {
	text-decoration: none;
}

input, button, textarea {
    border: none;
	outline: none;
}

.header {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
    align-items: center;
    padding: 16px;
}

.logo {
	display: inline-block;
	flex: none;
    width: 82px;
    height: 32px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ccc;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ccc;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ccc;
}