$WIDTH: 1224px;
$imgSize: 140px;

.wraper {
	width: $WIDTH;
	margin: 24px auto;
	overflow: hidden;
}

.main {
	width: 75%;
	min-height: 480px;
	float: left;
}

.side {
	margin-left: 75%;
    padding: 0 20px;
}

.displayList {
	width: 80%;
	margin: 20px auto;
}

.displayTitle {
	margin: 15px auto;
}

.displayItem {
	display: block;
	max-width: 250px;
	height: 0;
    padding-bottom: 100%;
	margin: 15px auto;
	overflow: hidden;
}

.presentation {
	display: block;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    line-height: 0;
    min-width: 200px;
    min-height: 480px;
    background: rgb(250, 250, 250);
}

.pic {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.picInfo {
	padding: 0 10%;
	margin: 12px auto;
}

.title {
	font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.userWraper, .userDesc, .tagWraper {
	margin: 20px auto;
}

.userDesc {
	display: flex;
}

.userDesc:first-child {
	flex: 1;
}

.userCheck {
	display: inline-block;
	vertical-align: middle;
	line-height: 50px;
	min-width: max-content;
	width: 10%;
	margin-left: 50%;
	float: right;
	color: #666;
	font-size: 13px;
	text-align: right;
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}

.uploadList {
	margin: 12px auto;
	height: $imgSize + 20px;
	padding: 10px 0;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

.uploadItem {
	display: inline-block;
	width: $imgSize;
	margin: 0 4px;
	overflow: hidden;
}