
.wraper {
	width: 795px;
    margin-right: 10px;
	display: inline-block;
}

.container {
	margin: 0 0 10px;
	padding: 5px 10px;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	overflow: hidden;
}