$WIDTH: 1024px;
$sideWidth: 215px;
$gapWidth: 15px;

.wraper {
	width: $WIDTH - $sideWidth - 14px;
    margin-right: 10px;
    float: left;
	display: inline-block;
}

.container {
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
	margin: 0 0 10px;
	padding: 12px 10px;
	background-color: #fff;
	border: 1px solid #d6dee5;
	border-radius: 5px;
	overflow: hidden;

	&.head {
		min-height: 750px;
	}
}

.title {
	width: 100%;
    font-size: 16px;
    margin: 0 0 6px $gapWidth;
}

.item {
	display: inline-block;
	width: 160px;
	margin: 8px $gapWidth;
}

.spItem {
	display: inline-block;
	width: 350px;
	margin: 8px $gapWidth;
}