$infoWidth: 200px;
$avatarSize: 100px;
$btnBgc: #0096fa;

$lHeight: 32px;

.wraper {
	display: flex;
	min-width: $infoWidth;
	flex: 1;
	margin: 0 auto;
	align-items: center;
	overflow: hidden;
}

.avatar {
	width: $avatarSize;
	height: $avatarSize;
	vertical-align: middle;
	object-fit: cover;
	border-radius: 50%;
}

.name {
	display: inline-block;
	line-height: $lHeight;
	flex: 1;
    padding: 0 20px;
	font-size: 14px;
    color: #333;
}

.subBtn {
	display: inline-block;
	width: 25%;
	min-width: max-content;
	max-width: 200px;
	line-height: $lHeight;
	padding: 0 25px;
	color: #fff;
    font-size: 14px;
	text-align: center;
	border-radius: 16px;
	background-color: $btnBgc;
	cursor: pointer;
}